snippet if "If..."
if($1){
  $2
}
$3
endsnippet

snippet else "Else..."
else($1){
  $2
}
$3
endsnippet

snippet elf "Else If..."
else if($1){
  $2
}
$3
endsnippet

snippet rcls "React Class"
var $1 = React.createClass({
  render: function() {
    return (
      $2
    )
  }
});
endsnippet
